* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 1em 2em;
  font-size: 14px;
  background: #fafafa;
}

h1 {
  font-size: 40px;
}

h1, h2, h3 {
  font-weight: 300;
}

code, pre {
  font-family: 'Inconsolata', 'Source Code Pro', courier;
  margin: 0;
}

body > header {
  margin-bottom: 2.5em;
}

header h1,
header h2,
header h3 {
  margin: 0;
}

header div {
  color: #aaa;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: currentcolor;
}

label {
  background: #000;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 5px 7px;
  font-size: 10px;
  cursor: pointer;
}

#demo, section {
  -webkit-flex: 1; /* Safari 7.0.4*/
  flex: 1;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 3px #ccc;
}

section {
  padding: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

section header {
  margin-bottom: 1.5em;
}

main {
  display: -webkit-flex; /* Safari 7.0.4*/
  display: flex;
  height: 600px;
}

#list {
  padding: 4px;
  overflow: auto;
  margin-right: 1em;
}

#demo {
  display: -webkit-flex; /* Safari 7.0.4*/
  display: flex;
  align-items: center;
  -webkit-justify-content: center; /* Safari 7.0.4 */
  justify-content: center;
  -webkit-flex: 2; /* Safari 7.0.4*/
  flex: 2;
  text-transform: uppercase;
  margin-top: 4px; /* ensure box-shadow doesnt get clipped. */
}

section header {
  display: -webkit-flex; /* Safari 7.0.4*/
  display: flex;
  -webkit-align-items: center; /* Safari 7.0.4 */
  align-items: center;
  -webkit-justify-content: space-between; /* Safari 7.0.4 */
  justify-content: space-between;
}

footer {
  display: -webkit-flex; /* Safari 7.0.4*/
  display: flex;
  -webkit-align-items: center; /* Safari 7.0.4 */
  align-items: center;
  -webkit-justify-content: flex-start; /* Safari 7.0.4 */
  justify-content: flex-start;
  margin-top: 1em;
  color: #aaa;
}

.google.blue {
  background: #1065e6;
}
.google.green {
  background: #03a05c;
}
.google.yellow {
  background: #ffba03;
}
.google.red {
  background: #da4530;
}
iframe {
  border: none;
  width: 100%;
  height: -webkit-fill-available;
  height: fill-available;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 3px;
  }
  body > header {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 7vw;
  }
  section h2 {
    font-size: 4vw;
  }
  main {
    flex-direction: column;
    height: 100%;
  }
  #list {
    -webkit-order: 2;
    order: 2;
    margin: 1em 0 0 0;
    padding: 4px;
  }
  #demo {
    -webkit-order: 1;
    order: 1;
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px;
    overflow: auto;
    margin: 4px;

  }
  pre {
    font-size: 12px;
  }
  iframe {
    height: auto;
  }
}
